.keydata {
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 5px;
    width: 260px;
}

.keydata img {
    margin: 32px 24px 32px 32px;
}

.value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #282d30;
    margin: 0px 0px 2px 0px;
}

.type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798c;
    margin: 0px;
}
