.dashboard {
    margin-top: 60px;
    margin-left: 100px;
}

.dashboard span {
    color: #ff0101;
}

.container {
    display: flex;
    justify-content: space-between;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.charts .chart-top,
.charts .charts-bottom {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid red;
}

.nutriments {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 31px;
}

.chart-top {
    width: 835px;
    height: 320px;
}
