.dashboard {
    margin-top: 60px;
    margin-left: 100px;
}

.dashboard span {
    color: #ff0101;
}

.container {
    display: flex;
    justify-content: space-between;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.charts .chart-top,
.charts .charts-bottom {
    flex: 1;
}

.nutriments {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 31px;
}

.chart-top {
    width: 835px;
    height: 320px;
}

.charts-bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (max-width: 1380px) {
    .dashboard {
        margin-left: 40px;
        margin-top: 0px;
    }

    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .chart-top {
        width: auto;
    }

    .charts-bottom {
        flex-direction: row;
    }

    .nutriments {
        margin-left: 0;
        flex-direction: row;
        width: 835px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
}
